<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi Mật Khẩu</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

</head>

<body class="bg-gray-100  items-center  justify-center min-h-screen">

    <div class="w-full max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-5 text-center">Đổi Mật Khẩu</h2>

        <form>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="currentPassword">Mật Khẩu Hiện
                    Tại</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="currentPassword" type="password" placeholder="Nhập mật khẩu hiện tại">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">Mật Khẩu Mới</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="newPassword" type="password" placeholder="Nhập mật khẩu mới">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmNewPassword">Xác Nhận Mật Khẩu
                    Mới</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="confirmNewPassword" type="password" placeholder="Xác nhận mật khẩu mới">
            </div>

            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Đổi Mật Khẩu
                </button>
            </div>
        </form>
    </div>

</body>

</html>
