<link rel="stylesheet" href="~/css/detail.css">
<div class="pro-detail-main">
    <div class="pro-detail-container">
        <div class="pro-detail-category">
            <div class="cate-pro">
                <ol class="breadcrumb">
                    <li class="bd-cate">
                        <a href="~/product"><span>Menu</span></a>
                    </li>
                    <li class="bd-cate">
                        <a class="btn-menu" href="~/product/"><span>Coffee</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Tea</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Cloud</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Hitea-Healthy</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Trà xanh-Chocolate</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Thức uống đá xay</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Bánh & Snack</span></a>
                        <a class="btn-menu" style="display: none" href="~/product/"><span>Thưởng thức tại nhà</span></a>
                    </li>
                    <li class="bd-cate">
                        <a class="btn-menu-list" href="~/product"><span>Cà phê Highlight</span></a>
                        <a class="btn-menu-list" style="display: none" href="~/product"><span>Cà phê
                                Highlight</span></a>
                        <a class="btn-menu-list" style="display: none" href="~/product"><span>Cà phê
                                Highlight</span></a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="pro-product">
            <div class="pro-product-img">
                <img class="img_pro"
                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg">
            </div>

            <div class="pro-prodcut-title">
                <div class="pro-title">
                    <div class="titleee">
                        <p>Cà phê sữa tươi bánh Plan</p>
                    </div>
                    <div class="pro-price">
                        <span>49.000 đ</span>
                    </div>
                </div>

                <div class="option-size">
                    <p class="size-text-tit">Chọn size ( bắt buộc) </p>
                    <div class="size-size">
                        <div class="size-zzz">
                            <div class="circle">Nhỏ + 0 đ</div>
                        </div>

                        <div class="size-zzz">
                            <div class="circle">Vừa + 6000 đ</div>
                        </div>

                        <div class="size-zzz">
                            <div class="circle">Lớn + 10000 đ</div>
                        </div>
                    </div>
                </div>

                <div class="pro-topping">
                    <p class="pro-topping-title">Topping</p>
                    <div class="topping-option">
                        <div class="checkbox-topping">
                            <div class="topping-name">
                                <p class="topping-text">Shot espresso + 10.000 đ</p>
                            </div>
                        </div>
                        <div class="checkbox-topping">
                            <div class="topping-name">
                                <p class="topping-text">Trân châu trắng + 10.000 đ</p>
                            </div>
                        </div>
                        <div class="checkbox-topping">
                            <div class="topping-name">
                                <p class="topping-text">Sốt caramel + 10.000 đ </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prooo-okok">
                    <div class="okokok">
                        <h3 class="title-okok">
                            Số Lượng:
                        </h3>
                        <div class="pro-quantity">
                            <div class="pro-number">
                                <div class="n-pre">
                                    <button class="pro-prevous">
                                        <p style="font-size: 30px;">-</p>
                                    </button>
                                    <span id="counter">1</span>
                                    <button class="pro-next">
                                        <p style="font-size: 30px;">+</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pro-cart">
                    <div class="method-pro">
                        <a class="method-btn" href="/cart">
                            <button class="btn-des"><img style="width: 25px;"
                                    src="https://cdn-icons-png.flaticon.com/128/3523/3523885.png">Giỏ
                                hàng</button>
                        </a>
                        <a class="method-btn" href="/shipping">
                            <button class="btn-des"><img style="width: 30px;"
                                    src="https://cdn-icons-png.flaticon.com/128/5637/5637217.png"> Đặt giao tận
                                nơi</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="pro-describe">
            <div class="describe">
                <h4 class="des-title">Mô tả sản phẩm</h4>
                <p class="des-text">Đây là 1 loại cà phê</p>

            </div>
        </div>

        <div class="related-product">
            <div class="related-pro-ct">
                <h4 class="title-rlt">Sản phẩm liên quan</h4>
                <div class="related-pro-list">
                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>

                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>

                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>

                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>

                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>
                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>
                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>
                    <div class="related-pro-box">
                        <div class="related-img">
                            <a href="/detail"> <img class="img img-rlt"
                                    src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                        </div>
                        <div class="related-title">
                            <p class="tttl">Đường đen sữa đá</p>
                            <span class="related-price">49.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Xử lý cho kích thước
        const sizeOptions = document.querySelectorAll('.size-zzz');

        sizeOptions.forEach(option => {
            option.addEventListener('click', function () {
                // Xóa class 'selected' từ tất cả các tùy chọn kích thước
                sizeOptions.forEach(opt => opt.classList.remove('selected'));

                // Thêm class 'selected' vào tùy chọn kích thước được click
                option.classList.add('selected');
            });
        });

        // Xử lý cho topping
        const toppingOptions = document.querySelectorAll('.topping-name');

        toppingOptions.forEach(option => {
            option.addEventListener('click', function () {
                // Xóa class 'selected' từ tất cả các tùy chọn topping
                toppingOptions.forEach(opt => opt.classList.remove('selected'));

                // Thêm class 'selected' vào tùy chọn topping được click
                option.classList.add('selected');
            });
        });

        // Xử lý cho tăng giảm giá trị trong thẻ span
        const counter = document.getElementById('counter');
        const prevButton = document.querySelector('.pro-prevous');
        const nextButton = document.querySelector('.pro-next');

        prevButton.addEventListener('click', function () {
            let currentValue = parseInt(counter.textContent, 10);
            if (currentValue > 0) {
                counter.textContent = currentValue - 1;
            }
        });
        nextButton.addEventListener('click', function () {
            let currentValue = parseInt(counter.textContent, 10);
            counter.textContent = currentValue + 1;
        });
    });
</script>
