<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <link rel="stylesheet" href="~/css/aboutus.css">
  <body>
    <div class="aboutus_container" style="width: 100%">
      <div class="aboutus_tittle" style="text-align: center">
        <h1>Về chúng tôi</h1>
      </div>
      <div
        class="aboutus_maincontain1"
        style="      

        "
      >
        <div class="text_content">
          <div class="text_tittle" style="text-align:center;font-weight:bold;font-size:22px"><h3>Nguồn gốc</h3></div>
          <div class="text_maincontent">
            <p>
              CÂU CHUYỆN NÀY LÀ CỦA CHÚNG MÌNH <br />
              The Coffee được thành lập vào năm 200, bắt nguồn <br />
              từ tình yêu dành cho đất Việt cùng với cà phê và <br />
              cộng đồng nơi đây. Ngay từ những ngày đầu tiên,<br />
              mục tiêu của chúng mình là có thể phục vụ và góp <br />
              phần phát triển cộng đồng bằng cách siết chặt thêm <br />
              sự kết nối và sự gắn bó giữa người với người.
            </p>
          </div>
          <div class="view_detail" style="width:30%;margin: auto;"><a style="text-decoration:none" href=""><p style="padding:5px 3px;margin-top:10px;text-align:center;backgroud:#ccc;color:#000;border: 1px solid #000;border-radius:5px">Xem chi tiết</p></a></div>
        </div>
        <div class="img_content" style="width: 25%">
          <a href="">
            <img
              style="border-radius: 30px;width:100%"
              src="https://media.istockphoto.com/photos/cup-of-coffee-picture-id504983540?k=6&m=504983540&s=612x612&w=0&h=tOdlmbF1hjXKb__Yc6P4tm9izqWSyw52RIpCMOKBKP4="
              alt=""
            />
          </a>
        </div>
      </div>
      <div
        class="aboutus_maincontain2"
        style="    
       
        "
      >
        <div class="img_content" style="width: 27%">
          <a href="" >
            <img
              style="border-radius: 30px;width:100%"
              src="https://cdn.create.vista.com/api/media/small/316705436/stock-photo-cropped-view-woman-holding-spoon-cappuccino-foam"
              alt=""
            />
          </a>
        </div>
        <div class="text_content" style="">
          <div class="text_tittle"  style="text-align:center;font-weight:bold;font-size:22px;"><h3>Dịch vụ</h3></div>
          <div class="text_maincontent">
            <p>
              DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH<br />
              The Coffee là không gian của chúng mình nên mọi thứ ở đây<br />
              đều vì sự thoải mái của chúng mình. Đừng giữ trong lòng, hãy<br />
              chia sẻ với chúng mình điều bạn mong muốn để cùng nhau<br />
              giúp The Coffee trở nên tuyệt vời hơn
            </p>
          </div>
          <div class="view_detail"style="width:30%;margin: auto;"><a style="text-decoration:none;" href=""><p style="padding:5px 3px;margin-top:10px;text-align:center;backgroud:#ccc;color:#000;border: 1px solid #000;border-radius:5px">Xem chi tiết</p></a></div>
        </div>
      </div>
      <div
        class="aboutus_maincontain3"
        style="  
          gap: 100px;
          margin-bottom:30px
        "
      >
        <div class="text_content">
          <div class="text_tittle"  style="text-align:center;font-weight:bold;font-size:22px;"><h3>Nghề nghiệp</h3></div>
          <div class="text_maincontent">
            <p>
              CƠ HỘI NÀY LÀ CỦA CHÚNG MÌNH<br />
              Là điểm hội tụ của cộng đồng, The Coffee luôn<br />
              tìm kiếm những thành viên mới với mong muốn<br />
              không ngừng hoàn thiện một không gian dành<br />
              cho tất cả mọi người. Chúng mình luôn chào đón<br />
              bạn trở thành một phần của The Coffee để cùng<br />
              nhau siết chặt thêm những kết nối và sự gắn bó<br />
              giữa người với người.
            </p>
          </div>
 <div class="view_detail"style="width:30%;margin: auto;"><a style="text-decoration:none" href=""><p style="padding:5px 3px;margin-top:10px;text-align:center;backgroud:#ccc;color:#000;border: 1px solid #000;border-radius:5px">Xem chi tiết</p></a></div>
        </div>
        <div class="img_content" style="width: 25%">
          <a href="">
            <img
              style="border-radius: 30px;width:100%"
              src="https://opetit.com/wp-content/uploads/2024/02/ca-phe-arabica-rang-moc-opetit-7.jpg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
