* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aboutus_maincontain1,
.aboutus_maincontain2,
.aboutus_maincontain3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.aboutus_maincontain1,
aboutus_maincontain3 {
  gap: 100px;
}

.aboutus_maincontain2 {
  gap: 110px;
}
@media (max-width: 990px) {
  .aboutus_maincontain1,
  .aboutus_maincontain2,
  .aboutus_maincontain3 {
    gap: 50px;
  }
}
